@-ms-viewport{
  width: device-width;
}

html,body {
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
font-size: 0.8em;
font-family: 'Montserrat', Helvetica, sans-serif !important;
}

::selection {
    color: #515151;
    background: #b39964;
}

::-moz-selection { /* Code for Firefox */
    color: #515151;
    background: #b39964;
}

.container {
  margin: 0 auto;
}

.home, .about, .portfolio, .skills, .contact {
  position: relative;
}

nav {
  position: fixed;
  top: 10px;
  left: 31%;
  text-align: center;
  z-index: 99999999;
}

.home {
  width: 100vw;
  height: 100vh;
  background: url(../img/home-bg.jpg)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about {
  /*border: 1px solid red;*/
  width: 100vw;
  height: 650px;
  text-align: center;
}

.portfolio {
  background: #161616;
  width: 100vw;
  height: 650px;
  text-align: center;

}

.skills {
  /*border: 1px solid green;*/
  width: 100vw;
  height: 450px;
  text-align: center;
}

.contact {
  background: #161616;
  position: relative;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.greeting {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  /*border: 1.5px solid white;*/
  /*padding: 10px 30px 10px 30px;*/
}

.greeting h2 {
  color: #565656;
  font-size: 1em;
}

.about h2 {
  text-transform: uppercase;
  position: relative;
  top: 100px;
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
  letter-spacing: 2px;
  font-weight: 500;
  /*font-size: 16px;*/
  color: #444;
}

.about p {
  font-size: 1em;
  color: #666;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.5em;
  max-width: 650px;
  position: absolute;
  text-align: left;
  left: 41%;
}

.para1 {
  top: 210px;
  left: 450px;
  margin-top: 0;
}

.para2 {
  top: 287px;
  left: 450px;
}

.para3 {
  top: 393px;
  left: 450px;
}

.me {
  position: absolute;
  width: 250px;
  left: 23%;
  top: 210px;
}

.works-h2 {
  text-transform: uppercase;
  position: relative;
  top: 100px;
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
  letter-spacing: 2px;
  font-weight: 500;
  color: #444;
}

.portfolio .projects .project {
  width: 30%;
  height: 250px;
  background-color: rgba(15,15,15,0.9);
}

.project1, .project2, .project3 {
  display: inline-block;
  text-align: center;
  margin-top: 225px;
  width: calc(30% - 5%);
}


.title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1em;
  color: #b39964;
  margin-top: 65px;
}

.projects p {
   font-size: 1em;
  color: #666;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.5em;
}

/* Gradient transparent - color - transparent */

.about hr {
    border: 0;
    height: 2px;
    width: 50px;
    position: relative;
    transform: translateY(-50%);
    top: 130px;
    background: #b39964;
}

.portfolio hr {
    border: 0;
    height: 2px;
    width: 50px;
    position: relative;
    transform: translateY(-50%);
    top: 140px;
    background: #b39964;
}

.skills-h2 {
  text-transform: uppercase;
  position: relative;
  top: 100px;
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
  letter-spacing: 2px;
  font-weight: 500;
  color: #444;
}



.skills hr {
    border: 0;
    height: 2px;
    width: 50px;
    position: relative;
    transform: translateY(-50%);
    top: 130px;
    background: #b39964;
}


.skillset {
  position: absolute;
  top: 220px;
  width: calc(50% - 5%);
  text-align: center;
  left: 27%
}

.skill {
  width: 50px;
  margin-left: 10px;
}

.skills p {
  font-size: 1em;
  color: #666;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.5em;
  width: calc(35% - 5%);
  position: absolute;
  text-align: center;
  top: 325px;
  left: 35%;
}


.contact-h2 {
  text-transform: uppercase;
  position: relative;
  transform: translateY(-50%);
  top: 100px;
  padding: 0;
  margin: 0;
  letter-spacing: 2px;
  font-weight: 500;
  color: #444;
}

.contact hr {
    border: 0;
    height: 2px;
    width: 50px;
    position: relative;
    transform: translateY(-50%);
    top: 130px;
    background: #b39964;
}

#contact p{
  font-size: 1em;
  color: #666;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.5em;
  max-width: 600px;
  position: relative;
  top: 250px;
  left: 31.5%;

}

/*// social // */

.elements ul {
  width: 610px;
  margin: 0 auto;
  position: relative;
  top: 350px;
  transform: translateY(-50%);
  vertical-align: center;
  padding: 0px;
  width: calc(35% - 5%);
}
.elements ul:after {
  content: "";
  display: table;
  clear: both;
}
.elements ul li {
  list-style: none;
  display: inline-block;
  margin: 0px 15px 70px 0px;
  backface-visibility: hidden;
}
.elements ul a {
  color: #B8B8B8;
  padding: 25px;
  border: 1.5px solid #fff;
  border-radius: 0;
}
.elements a:hover {
  color: #b39964 !important;
  border-color: #b39964 !important;
  -webkit-transition: .8s ease;
  -moz-transition: .8s ease;
  -ms-transition: .8s ease;
  -o-transition: .8s ease;
  transition: .8s ease;
}

.elements a:hover i {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -o-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  color: #FFF;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100vw;
  background: #000;
}

footer h4 {
  font-size: 1em;
  color: #666;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.5em;
}


/*responsive section*/

@media screen and (max-width: 1280px) {
  nav {
    left: 25%;
  }
  .me {
    left: 10%;
  }
  .about p {
    left: 38%;
  }
  .skillset {
    width: calc(60% - 5%);
    text-align: center;
    left: 22%
  }
  .skills p {
    width: calc(60% - 5%);
    left: 22%;
  }
  .elements ul {
    width: calc(60% - 5%);
  }
  #contact p {
    left: 26%;
  }
}

@media screen and (max-width: 1024px) {
  nav {
    left: 19%;
  }
  .me {
    left: 10%;
  }
  .about p {
    left: 40%;
    max-width: 500px;
  }
    .para1 {
    top: 210px;
    left: 450px;
  }

  .para2 {
    top: 300px;
    left: 450px;
  }

  .para3 {
    top: 430px;
    left: 450px;
  }
  .skillset {
    width: calc(60% - 5%);
    text-align: center;
    left: 22%;
    top: 200px;
  }
  .skills p {
    width: calc(60% - 5%);
    left: 22%;
    top: 345px;
  }
  .skill {
    margin-bottom: 10px;
  }
  .elements ul {
    width: calc(60% - 5%);
  }
  #contact p {
    left: 20%;
  }
}

@media screen and (max-width: 640px) {
  nav {
    left: 0%;
  }
  .about {
    height: 950px;
  }
  .me {
    left: 30.5%;
  }
  .about p {
    left: 15%;
    max-width: 450px;
  }
  .para1 {
    top: 525px;
  }

  .para2 {
    top: 620px;
  }

  .para3 {
    top: 755px;
  }

  .portfolio {
    height: 1000px;
  }
  .portfolio .projects .project {
    width: 100%;
    height: 250px;
    margin-top: 2px;
    position: relative;
    top: 200px;
  }
  .skillset {
    width: calc(70% - 5%);
    text-align: center;
    left: 17%;
    top: 200px;
  }
  .skills p {
    width: calc(70% - 5%);
    left: 17%;
    top: 325px;
  }
  .skill {
    margin-bottom: 10px;
  }
  .elements ul {
    width: calc(60% - 5%);
  }
  #contact p {
    left: 17%;
    top: 200px;
    width: calc(70% - 5%);
    padding-bottom: 20px;
  }
}