html,body {
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
font-size: 0.8em;
font-family: 'Montserrat', Helvetica, sans-serif !important;
}

::selection {
    color: #515151;
    background: #b39964;
}

::-moz-selection { /* Code for Firefox */
    color: #515151;
    background: #b39964;
}

.container {
  margin: 0 auto;
/*  background: url(../img/home-bg.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

.home, .about, .portfolio, .skills, .contact {
  position: relative;
}

nav {
  position: fixed;
  top: 10px;
  left: 27%;
  text-align: center;
  z-index: 99999999;
}

.home {
  width: 100vw;
  height: 100vh;
  background: url(../img/home-bg.jpg)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about {
  /*border: 1px solid red;*/
  width: 100vw;
  height: 650px;
  text-align: center;
}

.portfolio {
  background: #161616;
  width: 100vw;
  height: 650px;

}

.skills {
  /*border: 1px solid green;*/
  width: 100vw;
  height: 450px;
}

.contact {
  background: #161616;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.greeting {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}

.greeting h2 {
  color: #565656;
  font-size: 1em;
}

.about h2 {
  text-transform: uppercase;
  position: relative;
  top: 100px;
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
  letter-spacing: 2px;
  font-weight: 500;
  color: #444;
}

.about p {
  font-size: 1em;
  color: #666;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.5em;
  max-width: 600px;
  position: absolute;
  text-align: left;
}

.para1 {
  top: 200px;
  left: 450px;
  margin-top: 0;
}

.para2 {
  top: 277px;
  left: 450px;
}

.para3 {
  top: 383px;
  left: 450px;
}

.me {
  position: absolute;
  width: 250px;
  left: 110px;
  top: 200px;
}

.works-h2 {
  color: #444;
  position: absolute;
  top: 100px;
  left: 43.5%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}

.portfolio .projects .project {
  width: 30%;
  height: 250px;
  background-color: rgba(15,15,15,0.9);
}

.project1, .project2, .project3 {
  display: inline-block;
  text-align: center;
  margin-top: 225px;
}

.projects {
  margin-left: 100px;
}

.title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1em;
  color: #b39964;
  margin-top: 65px;
}

.projects p {
   font-size: 1em;
  color: #666;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.5em;
}

/* Gradient transparent - color - transparent */

.about hr {
    border: 0;
    height: 2px;
    width: 50px;
    position: absolute;
    top: 130px;
    left: 47%;
    background: #b39964;
}

.portfolio hr {
    border: 0;
    height: 2px;
    width: 50px;
    position: absolute;
    top: 160px;
    left: 47%;
    background: #b39964;
}

.skills-h2 {
  text-transform: uppercase;
  position: absolute;
  top: 100px;
  left: 43%;
  padding: 0;
  margin: 0;
  letter-spacing: 2px;
  font-weight: 500;
  color: #444;
}

.skills hr {
    border: 0;
    height: 2px;
    width: 50px;
    position: absolute;
    top: 140px;
    left: 47%;
    background: #b39964;
}


.skillset {
  position: absolute;
  top: 220px;
  left: 24%;
}

.skill {
  width: 50px;
  margin-left: 10px;
}

.skills p {
  font-size: 1em;
  color: #666;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.5em;
  max-width: 600px;
  position: absolute;
  text-align: center;
  top: 325px;
  left: 28%;
}


.contact h2 {
  text-transform: uppercase;
  position: absolute;
  color: #444;
  top: 150px;
  left: 45%;
  letter-spacing: 2px;
  font-weight: 500;
}

.contact hr {
    border: 0;
    height: 2px;
    width: 50px;
    position: absolute;
    top: 200px;
    left: 47%;
    background: #b39964;
}

.contact p{
  font-size: 1em;
  color: #666;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.5em;
  max-width: 600px;
  position: absolute;
  text-align: center;
  top: 250px;
  left: 30%;
}

/*// social // */

.elements ul {
  width: 610px;
  margin: 0 auto;
  position: absolute;
  top: 350px;
  left: 32%;
  vertical-align: center;
  padding: 0px;
}
.elements ul:after {
  content: "";
  display: table;
  clear: both;
}
.elements ul li {
  list-style: none;
  float: left;
  margin: 0px 15px 70px 0px;
  backface-visibility: hidden;
}
.elements ul a {
  color: #B8B8B8;
  padding: 25px;
  border: 1.5px solid #fff;
  border-radius: 0;
}
.elements ul .fa-twitter {
  padding: 0px 2px 3px 2px;
}
.elements ul .fa-facebook {
  padding: 0px 4px 3px 3px;
}
.elements ul .fa-dribbble {
  padding: 0px 2px 3px 2px;
}
.elements ul .fa-linkedin {
  padding: 0px 2px 3px 2px;
}
.elements ul .fa-flickr {
  padding: 0px 2px 3px 2px;
}

.elements a:hover {
  color: #b39964 !important;
  border-color: #b39964 !important;
  -webkit-transition: .8s ease;
  -moz-transition: .8s ease;
  -ms-transition: .8s ease;
  -o-transition: .8s ease;
  transition: .8s ease;
}

.elements a:hover i {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  color: #FFF;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}